.hero {
    background-color: white;
}

.columns {
    width: 600px;
}

.footer {
    background-color:#B2D350;
    width: 800px;
}

hr {
    background-color: #B2D350;
    height: 50px;
    width: 800px;
}

#submit {
    background-color: #36A2D6;
}

img {
    margin-left: 200px;;
}