.hero {
    background-color: white;
}

.columns {
    width: 600px;
}

.footer {
    background-color:#B2D350;
    width: 565px;
}

hr {
    background-color: #B2D350;
    height: 50px;
    width: 565px;
}

#submit {
    background-color: #36A2D6;
    width: 150px;
}

#search {
    margin-left: 10px;
}

#searchSelector {
    border: 0px;
}

.title {
    margin-left: 10px;
}

#close {
    margin-left: 10px;
    background-color: #B2D350;
    color: white;
    border: 45px;
    width: 50px;
}