.hero {
    background-color: white;
}

.columns {
    width: 600px;
}

.footer {
    background-color:#B2D350;
    width: 700px;
}

hr {
    background-color: #B2D350;
    height: 50px;
    width: 700px;
}

#submit {
    background-color: #36A2D6;
    width: 150px;
}

img {
margin-left: 150px;;
}

#search {
    margin-left: 100px;;
}

#searchSelector {
    border: 0px;
}

.title {
    margin-left: 90px;
}

#close {
    margin-left: 100px;
}